@{
    ViewBag.Title = "almacenPagina";
}
<div style="width:20%;background-color:Gray; position:absolute">

<ul id="menu">
<li>@Html.ActionLink("Ver Productos", "verProductosPagina", "Producto")</li>
</ul>

</div>

