@{
    ViewBag.Title = "administracionPagina";
}

<div style="width:20%;background-color:Gray; position:absolute">

<ul id="menu">
<li>@Html.ActionLink("Nuevo Producto", "nuevoProductoPagina", "Producto")</li>
<li>@Html.ActionLink("RegistroEmpleado", "registroEmpleado", "Administracion")</li> 
<li>@Html.ActionLink("Actualizar Producto", "actualizarProductoPagina", "Producto")</li>
<li>@Html.ActionLink("ActualizarEmpleado", "actualizarEmpleado", "Administracion")</li>
</ul>

</div>
