@model Agua_El_Oasis.Models.Modelos_Sub___Sistema_Almacen.Producto

@{
    ViewBag.Title = "detalleProductoPagina";
}

<h2>detalleProductoPagina</h2>

<fieldset>
    <legend>Producto</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
